# Python
__pycache__/
*.pyc

# Virtual Environments
venv/
.venv/
env/

# Environment Variables
.env

# Streamlit
.streamlit/secrets.toml

# Logs
logs/*.csv
logs/*.log

# IDE
.vscode/
.idea/

# Jupyter
.ipynb_checkpoints/

# OS
.DS_Store
Thumbs.db